---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// to import additional css / scss, add to _sass directory.
// Example: if _sass/file.css exists, we can input it here as follows:
// @import "file.css";

// your styles here

$covidvis-fonts: 'Khula', sans-serif, -apple-system,BlinkMacSystemFont,"Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif !important;

body, h1, h2, h3, footer, button, select, .masthead__menu, .page__footer-copyright, {
    font-family: $covidvis-fonts;
}

.layout--single {
    background-color: rgb(256, 256, 256);
    line-height: 1.5;
    min-width: 864px;
    //color: #40514e;
}

h2 {
    font-size: 1.25em;
}

.masthead {
    background:#000000;
}
.page__footer {
    background:#000000;
}
.greedy-nav { background: #000000; }
.greedy-nav a { color: rgb(242,246,246); }
.greedy-nav a:hover { color: rgb(242,246,246); }

.site-logo img{
    max-height: 2.5rem;
}

.page {
    width: calc(100% - #{$right-sidebar-width-narrow});
}

@media only screen and (min-width: 864px) {
    .overflow-center {
        margin-left: 50%;
        transform: translateX(-50%);
    }
}

.chart-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr; /* fraction*/
}

.centered {
    text-align: center;
}


@media only screen and (max-width: 1300px) {
    .github-corner {
        display: none;
    }
}

.tabbed-ui {
    width: 850px;
    border: 1px solid #ccc;
    border-radius: 10px;
    border-top: none;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 7px 16px;
    transition: 0.3s;
}

.button-group {
    float: left;
    border: 2px solid black;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

.button-left {
    border-top-left-radius: 7px;
}

.button-right {
    border-top-right-radius: 7px;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

.button-right.active:hover {
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
}

.button-left.active:hover {
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
}

/* Style the tab content */
.tab-content {
    display: none;
    padding: 6px 12px;
}

input[type=checkbox] {
    position: relative;
    cursor: pointer;
}
input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    border: 2px solid #555555;
    border-radius: 3px;
    background-color: white;
}
input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: solid black;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 2px;
    left: 6px;
}
